.not-found {
    width: 100%;
    height: 100%;
    display: table;
    .not-found__content {
        display: table-cell;
        vertical-align: middle;
        h1 {
            color: #555;
        }
        p {
            color: #888;
            font: {
                size: 20px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .not-found {
        width: 90%;
        margin: 0 auto;
        .not-found__content {
            p {
                font: {
                    size: 15px;
                }
            }
        }
    }
}

